doctype 5
html
  head
    title Redshed Schedule
    script(src='./bundle.js')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css')
  body.container
    h1 Redshed Schedule
    table.table.table-striped
      thead
        tr
          th When
          th Data
      tbody#schedule
